.hero-section {
    @media #{$medium-and-up} {
        .center {
            text-align: start;
        }
    }

    img {
        background-color: $color-smokewhite;
        border-radius: 10px;
        box-shadow: 0 19px 70px 0 rgba(0, 0, 0, 0.12);
    }
}