img {
    max-width: 100%;
    height: auto;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.ml {}

.mr {}

.mx {}

.my {}

.pt {
    padding-top: 20px;
}

.pb {
    padding-bottom: 20px;
}

.px-1 {
    padding-left: 1em;
    padding-right: 1em;
}

.pl {}

.pr {}

.mx {}

.py {}

.df {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}