.page-header {
    background-color: transparent;
    position: relative;
    width: 100%;

    &::before {
        content: "";
        background-color: $color-smokewhite;
        height: 50%;
        position: absolute;
        transform: skewY(-5deg);
        top: 120px;
        width: 100%;
        z-index: -1;
    }

    &::after {
        bottom: 100px;
        background-color: $color-smokewhite;
        content: "";
        height: 50%;
        position: absolute;
        transform: skewY(-5deg);
        width: 100%;
        z-index: -1;
    }

    >div {
        margin: 0 auto;
        max-width: 1200px;
        padding: 40px;
        text-align: center;
    }
}