.single-post {

    article {
        max-width: 700px;
        margin: 0 auto;

        .highlight {
            width: calc(100% + 2em);
            margin-left: -1em;
            display: block;

            @media #{$medium-and-up} {
                width: 150%;
                margin-left: -25%;
            }
        }
    }

    .share-icons {
        a {
            padding: 10px;

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                padding: 5px;
                border: 2px solid $color-light-blue-darken;
            }
        }

    }
}