{{ define "main" }}
<div id="main">
  <section class="page-header">
    <div class="container">
      <h1>{{ .Title }}</h1>
      <p>{{ .Description }}</p>
    </div>
  </section>

  <section class="content-section pt">
    <div class="container">
      <article id="content">
        {{ .Content }}
      </article>
    </div>
</div>
</section>
{{ end }}