{{ define "main" }}
<main>
  <section class="page-header">
    <div class="container">
      {{ if .Params.Title}}
      <h1 class="contact-title">{{ .Title }}</h1>
      {{ end }}
      {{ if .Params.Description }}
      <p class="contact-content">{{ .Description }}</p>
      {{ end }}
    </div>
  </section>
  <section class="blog-section container pt">
    <div class="row">
      {{ range first 10 (where .Pages "Section" "posts") }}
      <div class="col s12 m6 l4">
        {{ partial "summary.html" . }}
      </div>
      {{ end }}
    </div>
  </section>
</main>
{{ end }}