{{ define "main" }}
<main id="main" class="single-post">
    <section class="page-header">
        <div class="container">
            {{ if .Params.Title }}
            <h1 class="contact-title">{{ .Title }}</h1>
            {{ end }}
            {{ if .Params.Description }}
            <p class="contact-content">{{ .Description }}</p>
            {{ end }}
        </div>
    </section>
    <article id="content" class="px-1">
        {{ if .Params.image }}
        <img width="900" height="350" src=" {{ .Params.image }}" />
        {{ end }}

        {{ .Content }}

        <div class="footer">
            <div class="share-icons center pb">
                <a href="http://www.twitter.com/share?url={{ .Permalink }}" target="_blank"><img width="35" height="35"
                        src="/images/twitter.svg" /></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><img width="30"
                        height="30" src="/images/facebook.svg" /></a>
            </div>

            <div class="post-navigation pb df justify-between">

                {{ with .PrevInSection }}
                <a class="previous title df align-items-center {{ .Site.Params.color.TextColor }}" href="{{.Permalink}}">
                    <span><img width="30" height="30" src="/images/chevron-left.svg" /></span>
                    <span>{{.Title}}</span>
                </a>
                {{ end }}
                {{ with .NextInSection }}
                <a class="next title df align-items-center {{ .Site.Params.color.TextColor }}" href="{{.Permalink}}">
                    <span>{{.Title}}</span>
                    <span><img width="28" height="28" src="/images/arrow-right.svg" /></span>

                </a>
                {{ end }}

            </div>
        </div>
    </article>
</main>
{{ end }}