<section class="blog-section container pt">
    <div class="row">
        {{ range first 10 (where .Pages "Section" "posts") }}
        <div class="col s12 m6 l4">
            {{ partial "summary.html" . }}
        </div>
        {{ end }}
    </div>
</section>