<footer class="page-footer {{ $.Site.Params.color.FooterColor }}">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">footer menu</h5>
                <ul>
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.footer }}
                    <li>
                        <a class="grey-text text-lighten-3" href="/{{ .Name }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            {{ with .Site.Params.copyright }} <p>{{ .}}</p> {{ end }}
            <ul class="list-inline mb-3">
                {{ range .Site.Params.socialIcon }}
                <li class="list-inline-item"><a class="text-color d-inline-block p-2" href="{{ .URL | absURL}}"><i
                            class="{{ .icon }}"></i></a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</footer>

<ul class="sidenav" id="mobile-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li><a href="/{{ .Name }}" title="{{ .Title }}">
            {{- .Name -}}
        </a></li>
    {{ end }}
</ul>

<script src="js/materialize.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript"></script>

</body>

</html>