{{ $style := resources.Get "sass/styles.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $style.Permalink }}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<base href="{{ .Site.BaseURL }}" />
<title>{{ .Title }}</title>
<link rel="canonical" href="{{ .Permalink }}" />
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />