<header class="navbar-fixed">

    <nav class="{{ .Site.Params.color.NavColor }}">
        <div class="nav-wrapper container">
            <a href="{{ .Site.BaseURL }}" class="brand-logo">
                {{ if .Site.Params.siteInfo.logo }}
                {{ .Site.Params.siteInfo.logo }}
                {{ else }}
                {{ .Site.Params.siteInfo.SiteName }}
                {{ end }}
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a class="dropdown-trigger" href="#!" data-target="dropdown">
                        {{ .Pre }}
                        <span>{{ .Name }}</span><i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <ul id="dropdown" class="dropdown-content">
                    {{ range .Children }}
                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                        <a href="/{{ .Name }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ else }}
                <li>
                    <a href="/{{ .Name }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{ end }}
                {{ end }}
                <!-- Dropdown Trigger -->
            </ul>
        </div>
    </nav>
</header>