<section class="container hero-section pt mt">
  <div class="row">
    <div class="col s12 m5 l5 center">
      <h2>
        {{ if .Param "title" }}
        {{ .Param "title" }}
        {{ else }}
        set your custom Title
        {{ end }}
      </h2>
      <p>
        {{ if .Param "description" }}
        {{ .Param "description" }}
        {{ else }}
        set your custom summary
        {{ end }}
      </p>
      <a class="waves-effect waves-light btn mb center btn-large {{ .Site.Params.color.ButtonColor}}" href="{{ .Param "url" }}">
        {{ if .Param "button" }}
        {{ .Param "button" }}
        {{ else }}
        Get in Touch
        {{ end }}
      </a>
    </div>
    <div class="col s12 m7 l7 hero">
      {{ if .Param "image" }}
      <img src="{{ .Param "image" }}" />
      {{ else }}
      <img src="/images/placeholder.jpg" />
      {{ end }}
    </div>
  </div>
  <!-- .row -->
</section>
<!-- .hero-section -->