<div class="card">
    <div class="card-image thumb-image">
        <a href="{{ .Permalink }}">
            {{ if .Params.image }}
            <img src="{{ .Params.image }}" />
            {{ else }}
            <img src="/images/image.png" />
            {{ end }}
        </a>
    </div>
    <div class="card-content">
        <span class="card-title"><a class="link dim dark-green" href="{{ .Permalink }}">{{ .Title }}</a></span>
        <p>{{ .Summary | truncate 200 }}</p>
    </div>
    <div class="card-action">
        <a href="#">Read More</a>
    </div>
</div>