<div class="row">
  {{ if .Site.Params.form.netlify }}
  <form name="contact" method="POST" data-netlify="true" class="col s12" id="contactForm">
    {{ else }}
    <form action="{{ .Site.Params.form.action }}" method="{{ lower .Site.Params.form.method }}" class="col s12" id="contactForm">
      {{ end }}
      <!-- First name and last -->
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="{{ .Site.Params.form.inputFirstNamePlaceholder }}" name="{{ .Site.Params.form.inputFirstName }}"
            id="{{ .Site.Params.form.inputFirstName }}" type="text" class="validate" aria-labelledby="{{ .Site.Params.form.inputFirstName }}">
          <label for="{{ .Site.Params.form.inputFirstName }}">{{ .Site.Params.form.inputFirstNameLabel }}</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="{{ .Site.Params.form.inputLastNamePlaceholder }}" id="{{ .Site.Params.form.inputLastName }}"
            type="text" class="validate" name="{{ .Site.Params.form.inputLastName }}" aria-labelledby="{{ .Site.Params.form.inputLastName }}">
          <label for="{{ .Site.Params.form.inputFirstName }}">{{ .Site.Params.form.inputLastNameLabel }}</label>
        </div>
      </div>
      <!-- Email and phone number -->
      <div class="row">
        <div class="input-field col s6">
          <input id="{{ .Site.Params.form.inputEmailName }}" type="email" class="validate" name="{{ .Site.Params.form.inputEmailName }}"
            placeholder="{{ .Site.Params.form.inputEmailPlaceholder }}" aria-labelledby="{{ .Site.Params.form.InputEmailName }}">
          <label for="{{ .Site.Params.form.inputEmailName }}">{{ .Site.Params.form.inputEmailLabel }}</label>
        </div>
        <div class="input-field col s6">
          <input id="{{ .Site.Params.form.inputPhoneNumber }}" type="tel" class="validate" name="{{ .Site.Params.form.inputPhoneNumber }}"
            placeholder="{{ .Site.Params.form.inputPhonePlaceholder }}" aria-labelledby="{{ .Site.Params.form.InputPhoneNumber }}">
          <label for="{{ .Site.Params.form.inputPhoneNumber }}">{{ .Site.Params.form.inputPhoneLabel }}</label>
        </div>
      </div>
      <!-- Textarea -->
      <div class="row">
        <div class="input-field col s12">
          <textarea name="{{ .Site.Params.form.inputMsgName }}" id="{{ .Site.Params.form.inputMsgName }}" form="contactForm"
            maxlength="{{ .Site.Params.form.inputMsgLength }}" id="{{ .Site.Params.form.inputMsgName }}"
            arial-labelledby="{{ .Site.Params.form.InputMsgName }}" class="materialize-textarea"></textarea>
          <label for="{{ .Site.Params.form.inputMsgName }}">{{ .Site.Params.form.inputMsgLabel }}</label>
        </div>
      </div>
      <!-- Submit -->
      <div class="contact-field contact-field-submit">
        <button class="btn waves-effect waves-light btn-large {{ .Site.Params.color.ButtonColor }}" type="submit"
          onclick="cleanForm" aria-label="{{ .Site.Params.form.inputSubmitValue }}">
          {{ .Site.Params.form.inputSubmitValue }}<i class="material-icons right">send</i>
        </button>
      </div>
    </form>
</div>