<section class="newsletter grey lighten-3 z-depth-2">
    {{ if .Site.Params.newsletter.netlify }}
    <form name="contact" method="POST" data-netlify="true" class="col s12" id="contactnewsletter">
        {{ else }}
        <form action="{{ .Site.Params.newsletter.action }}" method="{{ lower .Site.Params.newsletter.method }}" class="col s12"
            id="contactnewsletter">
            {{ end }}
            <div class="row mb-0">
                <newsletter class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m8 l9 white">
                            <input id="{{ .Site.Params.newsletter.inputEmailName }}" type="email" class="validate" name="{{ .Site.Params.newsletter.inputEmailName }}"
                                placeholder="{{ .Site.Params.newsletter.inputEmailPlaceholder }}" aria-labelledby="{{ .Site.Params.newsletter.InputEmailName }}">
                            <label for="{{ .Site.Params.newsletter.inputEmailName }}">
                                {{.Site.Params.newsletter.inputEmailLabel }}</label>
                        </div>
                        <div class="input-field center col s12 m4 l3">
                            <button class="btn waves-effect waves-light btn-large {{ .Site.Params.color.ButtonColor }}"
                                type="submit" onclick="cleannewsletter" aria-label="{{ .Site.Params.newsletter.inputSubmitValue }}">
                                {{ .Site.Params.newsletter.inputSubmitValue }}<i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </newsletter>
            </div>
        </form>
</section>